parameters:
	ignoreErrors:
		-
			message: "#^Method QuantaForge\\\\FlareClient\\\\Frame\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Frame.php

		-
			message: "#^Method QuantaForge\\\\FlareClient\\\\Glows\\\\Glow\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Glows/Glow.php

		-
			message: "#^Parameter \\$solution of method QuantaForge\\\\FlareClient\\\\Report\\:\\:addSolution\\(\\) has invalid type QuantaForge\\\\Ignition\\\\Contracts\\\\Solution\\.$#"
			count: 1
			path: src/Report.php

		-
			message: "#^Property QuantaForge\\\\FlareClient\\\\Report\\:\\:\\$glows type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Report.php

		-
			message: "#^Access to property \\$aiGenerated on an unknown class QuantaForge\\\\Ignition\\\\Contracts\\\\Solution\\.$#"
			count: 1
			path: src/Solutions/ReportSolution.php

		-
			message: "#^Call to method getDocumentationLinks\\(\\) on an unknown class QuantaForge\\\\Ignition\\\\Contracts\\\\Solution\\.$#"
			count: 1
			path: src/Solutions/ReportSolution.php

		-
			message: "#^Call to method getSolutionDescription\\(\\) on an unknown class QuantaForge\\\\Ignition\\\\Contracts\\\\Solution\\.$#"
			count: 1
			path: src/Solutions/ReportSolution.php

		-
			message: "#^Call to method getSolutionTitle\\(\\) on an unknown class QuantaForge\\\\Ignition\\\\Contracts\\\\Solution\\.$#"
			count: 1
			path: src/Solutions/ReportSolution.php

		-
			message: "#^Class QuantaForge\\\\Ignition\\\\Contracts\\\\RunnableSolution not found\\.$#"
			count: 1
			path: src/Solutions/ReportSolution.php

		-
			message: "#^Parameter \\$solution of method QuantaForge\\\\FlareClient\\\\Solutions\\\\ReportSolution\\:\\:__construct\\(\\) has invalid type QuantaForge\\\\Ignition\\\\Contracts\\\\Solution\\.$#"
			count: 1
			path: src/Solutions/ReportSolution.php

		-
			message: "#^Parameter \\$solution of method QuantaForge\\\\FlareClient\\\\Solutions\\\\ReportSolution\\:\\:fromSolution\\(\\) has invalid type QuantaForge\\\\Ignition\\\\Contracts\\\\Solution\\.$#"
			count: 1
			path: src/Solutions/ReportSolution.php

		-
			message: "#^Property QuantaForge\\\\FlareClient\\\\Solutions\\\\ReportSolution\\:\\:\\$solution has unknown class QuantaForge\\\\Ignition\\\\Contracts\\\\Solution as its type\\.$#"
			count: 1
			path: src/Solutions/ReportSolution.php
